{% extends 'base.html' %}
{% block title %}Flush your mind!{% endblock title %}
{% block content %}

<div class="container">
    <div class="row">
        <h1>The idea behind the webpage</h1>
        <br><br>
        <p>The Writers Club, or WC, is where writers can share their work and get feedback from other writers. It is a place where writers can find inspiration, and where they can find other writers to collaborate with.

        <p>Why WC?... this is simple, an idea is something that intoxicates you until to push it out of your body, OK, brain, so the WC is the place where you can do that. But, ideas are not always complete. Sometimes, we, writers, start evrything with a punch-line, or and ending, or even a middle. So, the WC is the place where you can find the missing pieces of your ideas, and where you can help others to find the missing pieces of their ideas.</p>

        <p>But, the WC is not only for writers, it is also for readers. It is a place where readers can find new stories to read, and where they can find new writers to follow.</p>

        <p>And, even better, it is also for <strong>photographers.</strong></p>

        <p>Do you think that your photo deserves to be expanded with a written story? Do you think that your photo can inspire a writer to write a story? Then, the WC is the place for you. Upload your photo, with or without an initial story, and let the writers do the rest.</p>
        </p>

        <h2>How does it work</h2>

        <p>If you are a reader, just navigate through it, and enjoy the stories and photos. You can even follow the development of them, as other creators write new chapters, or add new photos.</p>

        <p>If you are a writer, you can create a new story, or you can continue an existing one. You can also add a new chapter to an existing story. And, if you are a photographer, you can upload your photos, and let the writers do the rest.</p>

        <h2>How to collaborate and rules</h2>

        <ul>1. An author starts a story or postes and image as a kick-off for a story.
            <li>The author will give the Story a Title wich can be changed at any point, even at the end of the project.</li>
            <li>The Author must give a Main Genre to set the mood that she/he is looking for.</li>
            <li>The Author can set a Sub Genre to give freedom of writing to her/his collaborators.</li>
            <li>The Author must give an Abstract of what she/he thinks would lead the story. It should be comprehensive enough to set the tone and the mood of the story.</li>
            <li>The Author can add an image to the story. This image will be used as the cover of the story. (Optional)</li>
            <li>The Author must give a deadline for entries. On this first version, the deadline will be set to 1 week. But, in future versions, the Author will be able to set the deadline to whatever she/he wants.</li>
        </ul>
        
        <p>2. Any user with a registered account and access to the story (future feature) can add a comment to the story.<br>
            * The comment can be a normal comment, or a proposal of story continuity (chosen from the *"type"* field).</p>

        <p>3. After the deadline is due, The Author will choose the writing that she/he likes the most and re-publish the original writing + the chosen extension.<br>
        In the future, this will be a voting system, where the original author will chose up to 3 continuations, and will vote for the one that she/he likes the most. Thid vote will have a 10% weight, and the calculation of the wining one will be made based on this 10% + the total number of votes (likes) that each writing has.</p>

        <p>4. The process will be repeated until the writer decides to end the story, or until the story is not voted for 3 times in a row.<br>
        <strong>NOTE:</strong> on every iteration, the Author will decide if she/he would like to add a new chapter to the story, or if she/he would like to end the story.</p>
    </div>
</div>

{% endblock content %}