{% extends 'base.html' %}
{% block title %}{{ writing.title }}{% endblock title %}
{% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ writing.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ writing.author }} | {{ writing.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in writing.featured_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                {% else %}
                <img src=" {{ writing.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ writing.content | safe }}
                </p>
                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                                <form action="{% url "writing_like" writing.slug %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                {% if liked %}
                                    <button type="submit" name="blogpost_id"
                                        value="{{writing.slug}}" class="btn-like">
                                        <!--fas = font awesome solid-->
                                        <i class="fas fa-heart"></i>
                                    </button>
                                {% else %}
                                    <button type="submit" name="blogpost_id"
                                        value="{{writing.slug}}" class="btn-like">
                                        <!--far = font awesome regular-outlined-->
                                        <i class="far fa-heart"></i>
                                    </button>
                                {% endif %}
                                </form>
                            {% else %}
                                <span class="text-secondary">
                                    <i class="far fa-heart"></i>
                                </span>
                            {% endif %}
                            <span class="text-secondary">
                                {{ writing.total_likes }}
                            </span>
                        </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}
                        </strong>
                        {% endwith %}
                    </div>
                    {% if user == writing.author %}
                    <div class="col-1">
                        <span>
                            <a href="{% url 'update_writing' writing.slug %}" class='btn btn-secondary'>Edit</a>
                        </span>
                    </div>
                    <div class="col-1">
                        <span>
                            <a href="{% url 'delete_writing' writing.slug %}" class='btn btn-danger'>Delete</a>
                        </span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.author }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.content|linebreaks }}
                    {% if user == writing.author and not comment.approved_comment %}
                        <a href="{% url 'approve_comment' comment.pk %}" class='btn btn-success'>Approve</a>
                    {% endif %}
                    {% if user == writing.author and comment.writing_type == 1 and comment.selected == 0 %}
                        <span>
                            <a href="{% url 'select_comment' comment.pk %}" class='btn btn-primary'>Select</a>
                        </span>
                    {% endif %}
                    {% if comment.selected == 1 %}
                        <p class="font-weight-bold">
                            <span class="text-success">Selected</span>
                        </p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                    </div>
                {% else %}
                    <!--Check that only authenticated users can post comments/further writings-->
                    {% if user.is_authenticated %}
                        <!--Check that the writing is open for comments (less than 7 days have passed)-->
                        {% if writing.can_comment %}
                        <h3>Leave a comment:</h3>
                        <p>Posting as: {{ user.username }} </p>
                        <form method="POST" style:"margin-top: 1.3em;">
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        {% else %}
                            <h3>Sorry, this writing's iteration is already closed.</h3>
                        {%endif%}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}